//Main Colors 
$yellow-color: #FFDD30;
$white-color: #FFFFFF;
$gray-light: #A3A2A1;
$gray-medium: #42413D;
$gray-dark: #2D2D2A;
$menu-gradient: linear-gradient(133deg, rgba(45,45,42,1) 39%, rgba(74,74,73,1) 75%, rgba(45,45,42,1) 100%);