@import './MainColors.scss';
@import './MainFonts.scss';

.Resume-title-header {
	display: flex;
	flex-direction: column;
	margin: 1em;
}

.Resume-title-item {
	align-self: start;
	font-family: $Recursive-main;
	font-size: 2em;
	font-weight: bold;
	color: $yellow-color;
}

.Resume-title-hr {
	margin-top: 0;
	border-top: solid $yellow-color 4px;
	height: 2px;
    box-shadow: inset 0 12px 12px -12px $gray-dark;
}

.Resume-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	// border: 2px solid white;
}

.Resume-card {
	background-color: $resume-card-bg;
	background-image: $resume-card-image;
	padding: .25em;
	// border: 1px solid white;
	margin: .5em;
	border-radius: 5px;
	width: 150px;
	height: 150px;
	font-size: 1.5em;
	font-family: $Recursive-main;
}

.Resume-badge-icon {
	font-size: 2em;
}

.Resume-card:hover {
	transform: translateY(-10px);
	transition: all 0.15s ease;
}



@media(min-width: 768px) {
	.Resume-container {
		display: flex;
		justify-content: center;
		flex-direction: row;
		// border: 2px solid white;
	}
}

@media(min-width: 1200px){
	
}

