@import './MainColors.scss';
@import './MainFonts.scss';

.Resume-title-header {
	display: flex;
	flex-direction: column;
	margin: 1em;
}

.Resume-title-item {
	align-self: start;
	font-family: $Recursive-main;
	font-size: 2em;
	font-weight: bold;
	color: $yellow-color;
}

.Resume-title-hr {
	margin-top: 0;
	border-top: solid $yellow-color 4px;
	height: 2px;
    box-shadow: inset 0 12px 12px -12px $gray-dark;
}

.Resume-content-container {
	display: flex;
	justify-content: center;
	padding-bottom: 2em;
}

.Resume-content {
	font-family: $Poppin;
	display: flex;
	flex-direction:column;
	align-items: start;
	margin: 1em;
	color: $yellow-color;
	font-size: 1.25em;
	font-weight: 600;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
}

.Resume-content-column1 ul {
	// margin: 0 10px;
}

.Resume-content-column2 ul {
	// border-top: 2px yellow solid;
	margin-right: 1em;
}

.Resume-content hr {
	width: 90%;
	border-bottom: 3px $yellow-color solid;
}

.Resume-content ul {
	list-style-type: none;
}

.Resume-content li {
	margin: .5em 0;	
}

.Resume-content a {
		font-size: .75em;
		font-weight: bold;
	}

@media(min-width: 768px) {
	.Resume-content-container {
		display: flex;
		justify-content: center;
	}

	.Resume-content {
		flex-direction:row;
	}
	
	.Resume-content ul {
		margin: 0 2em;
		font-size: 3vw;
	}
	
	.Resume-content  {
		margin: 0 2em;
		font-size: 3vw;
	}
	
	.Resume-content hr {
		display: none;
		
	}
	
	.Resume-content-column2 ul{
		border-left: 3px $yellow-color solid;
		
	}
	
}